@model IdentityASP.Models.ViewModel.ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- #begin header -->
<h2>Products</h2>
<!-- #end header -->
<!-- #begin html -->
<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">  
     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/jquery-unobstrusive-ajax")
</head>
<body>

    @using (Ajax.BeginForm("SearchProduct", "Product", null, new AjaxOptions() { UpdateTargetId = "searchResults" }, null))
    {
    <input type="datetime" name="From" />
    <input type="datetime" name="To" />
    <input type="submit" name="submit" value="Submit" />
    }
   
    <!-- #begin productmodalbutton-->
    <div id="AddProduct"><button type="button" data-toggle="modal" href="@Url.Action("ShowProductWindow", "Product")" data-target="#AddProductModal" class="btn-add btn btn-info btn-default">Add</button></div>
    <!--#end productmodalbutton -->
    
    <!--#begin product table-->
    <div id="searchResults">@Html.Partial("~/Views/Product/Product.cshtml")</div>
    <!--#end product table--> 

    <!--#begin productmodal-->
    <div id="AddProductModal" class="modal fade" role="dialog"></div>
    <!--#end productmodal-->


</body>
</html>
<!-- #end html -->

<!-- #begin script -->
<script type="text/javascript">

    var dataTable;
    //$(document).ready(function () {                                                     //  prepares datatable, highlight row selection , modal clear inputs on close.

    //        dataTable = $('#product-table').DataTable({
    //            stateSave: true,
    //            "columnDefs": [
    //            {
    //                className: "hide_column", "targets": [1],
    //            }
    //            ,
    //           {
    //               className: "hide_column", "targets": [3]
    //           }]
    //   });


    //   $('#product-table tbody, .btn-edit, .btn-delete').on('click', 'tr', function () {
    //        dataTable.$('tr.selected').removeClass('selected');
    //        $(this).addClass('selected');
    //    });


    //   $("#AddProductModal").on('hidden.bs.modal', function () {
    //        $(this).data('bs.modal', null);
    //        clearInputs();
    //   });

    //   var categoryDescription = $("#categoryId option:selected").text();
    //   $("#categoryDescription").val(categoryDescription);

    //   var manufacturerName = $("#manufacturerId option:selected").text();
    //   $("#manufacturerName").val(manufacturerName);

    //});

    function updateProductTable(e) {                                                    //  called function on ajax.beginform success
        //  set e.data to array
        //  if true updates table after add or edit, use row.add(array) or row().data(array) respectively.
        //  if false, validates input and show validation messages on each input box.

        var arr = null;
        var new_record = null;
        if (e.success) {

            if (e.success == "TrueAdd") {

                arr = $.map(e.data, function (value, index) { return [value]; });
                var url = "@Html.Raw(@Url.Action("EditProduct", "Product", new { id = "product" }))";
                url = url.replace('product', arr[0]);               
                new_record = [arr[0], arr[1], arr[2], arr[3], arr[4], arr[5], arr[6], arr[7], arr[8],arr[9],
                    '<button type="button" data-toggle="modal" href=' + url + ' data-target="#AddProductModal" class="btn-edit btn btn-info btn-default">Edit</button>',
                    '<button type="button" class="btn-delete btn btn-info btn-default">Delete</button>'];
                dataTable.row.add(new_record).draw(false);
                clearInputs();
                hideModal();

            }
            else if (e.success == "TrueEdit") {

                arr = $.map(e.data, function (value, index) { return [value]; });
                var url = "@Html.Raw(@Url.Action("EditProduct", "Product", new { id = "product" }))";
                url = url.replace('product', arr[0]);
                new_record = [arr[0], arr[1], arr[2], arr[3], arr[4], arr[5], arr[6], arr[7], arr[8],arr[9],
                    '<button type="button" data-toggle="modal" href=' + url + ' data-target="#AddProductModal" class="btn-edit btn btn-info btn-default">Edit</button>',
                    '<button type="button" class="btn-delete btn btn-info btn-default">Delete</button>'];
                dataTable.row('.selected').data(new_record).draw(false);
                clearInputs();
                hideModal();

            }

        }
        else if (!e.success) {
            $('.modal-body').find('input').each(function ()
            {
                if (!$(this).prop('required')) {}
                else {}
            });
        }

    }


    function hideModal() {
        $('#AddProductModal').modal('hide');                                            //  called function hide modal.
    }

    function clearInputs() {                                                            //  called function clear inputs , set productId to zero and categoryid to Select Category.
        $('.modal-body').find('input').val('');
        $('#productId').val('0');
        $('select#categoryId option:eq(0)').prop('selected', 'selected');
        $('select#manufacturerId option:eq(0)').prop('selected', 'selected');
    }

    $(document).on('click', '.btn-delete', function () {                                  //  delete, open dialog box , get selected row data,  use jquery ajax to delete record, update table on success.

        var productId = $(this).closest('tr').children('td:eq(0)').text();
        if (productId != 0) {
            if (confirm("Delete this record?")) {
                $.ajax({
                    type: 'POST',
                    url: '/Product/Delete',
                    data: { productId: productId },
                    success: function (e) {
                        if (e.success) {
                            dataTable.row('.selected').remove().draw(false);
                        }
                    }
                });
            }
        }
    });

    $(document).on('change', '#categoryId', function () {                                    //  adds categoryId text to category description hidden field
        var categoryDescription = $("#categoryId option:selected").text();
        $("#categoryDescription").val(categoryDescription);
    });

    $(document).on('change', '#manufacturerId', function () {                                //  adds manufacturerId text to manufacturer name hidden field
        var manufacturerName = $("#manufacturerId option:selected").text();
        $("#manufacturerName").val(manufacturerName);
    });


</script>
<!-- #end script -->